LINE_CHANNEL_SECRET=c64ec2589c66d44616b1b725057a585b #e5x5p5npkqjf9328if4y0v83v9hntxz6
LINE_CHANNEL_ACCESS_TOKEN=RdMVzEcTTxhVIuUxnMVmkNaTzY4HVxInfz3voNo4far7lEw4Yx80L0nXz5cJJkxUhO6rwWfeoikGUVXpksEqM5F/WjTJasoUgLvtZ1sjpWvhY5OyydhdbjeIeaFzD/a7b7GC0wrhjXg1fGDFToQjvQdB04t89/1O/w1cDnyilFU=#Eox935kn7K0GcGf49MkjXYgXlpVBcnKMt1tCy4XpQ8vjcriETIcRsD6sSRYicG9Yw2t5CPXoriBFahXT65T7ZzXAH4iVPbQYQ9GD4Kw50HPKOJKW2FVQjxBEunGMmND/bfDiSkEsrHaYtAS/fKH6vi9aMnwsM08hZJmg/xwPJVD=
PORT=8000